.form {
  position: relative;
  margin-top: 15px;
  padding: 10px !important;
  background-color: #f7f7f7;
  border: 1px solid rgba(0, 0, 0, .03);
  border-radius: 10px;
}

.fieldRoot {
  cursor: pointer !important;

  &:before, &:after {
    display: none;
  }
}

.addButton {
  margin-top: 15px !important;
}