.fieldRoot {
  margin-top: 15px;
  background-color: #f7f7f7;
  border: 1px solid rgba(0, 0, 0, .03);
  border-radius: 10px;
  padding: 17px !important;
  cursor: pointer !important;

  &:before, &:after {
    display: none;
  }
}

.addButton {
  position: absolute !important;
  right: 0;
}